// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin:33px;
	width: 914px;
	font-size: 13px;
    line-height: 18px;
}
table{
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
}


.field_with_errors{
 	margin-bottom: 10px;
 	padding: 2px;
 }
 .alert{
 	width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
 }
.actions{
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}